<?xml version="1.0"?>
<launch>
	<arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="z" default="0.0"/>
	<arg name="robot_type" default="tracked"/>
	<!-- robot_type : "wheeled" "tracked"-->
	<arg name="urdf_robot_file" default="$(find airport_robot_gazebo)/urdf/$(arg robot_type)_robot.xacro"/>
	<arg name="robot_name" default="airport_robot"/>
	<arg name="gpu" default="false"/>
	<arg name="organize_cloud" default="false"/>
	<!-- <param name="robot_description" command="$(arg urdf_robot_file)"/> -->
	<param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_robot_file)' robot_name:='$(arg robot_name)' organize_cloud:=$(arg organize_cloud) gpu:=$(arg gpu)" />
	<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -model $(arg robot_name) -param robot_description"/>
</launch>